**/node_modules
**/dist
**/build
**/.next
**/.turbo
**/.cache
**/.vite
**/coverage
**/.git
**/.gitignore
**/.env
**/.env.*
!**/.env.example
**/.DS_Store
**/Thumbs.db
**/*.log
**/.idea
**/.vscode
docs/
.data/
