# Copy to .env to override compose defaults.
# Currently only used to give the docker compose stack consistent credentials.

POSTGRES_USER=tcg
POSTGRES_PASSWORD=tcg
POSTGRES_DB=tcgstudio
POSTGRES_PORT=5432

REDIS_PORT=6379

MINIO_ROOT_USER=tcg
MINIO_ROOT_PASSWORD=tcgtcgtcg
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

DESIGNER_PORT=5173
API_PORT=4000
